body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#wrapper{
    display: grid;
}

header{
    display: flex;
    background-color: #777;
    color: grey;
}

nav{
    display: flex;
    flex-direction: column

}

nav ul {
    padding: 0;
  }

section{
    
}

#conent{
    float: left;
    padding: 25px;
}

footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}