* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "header header" "nav content" "footer footer";
}

header {
  grid-area: header;
  height: 15vh;
  width: 100vw;
  display: flex;
  background-color: gray;
}

nav {
  grid-area: nav;
  height: 80vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
} 

  #navbar {
    border-top-right-radius: 18px;
  }

#content {
  grid-area: content;
  height: 80vh;
  width: 80vw;
  display: grid;
  background-color: gray;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "game description";
}

#game {
  grid-area: game;
  height: 80vh;
  width: 60vw;
  background-color: gray;
}

#description {
  grid-area: description;
  height: 80vh;
  width: 20vw;
  background-color: white;
  border-radius: 18px;
}

footer {
  grid-area: footer;
  background-color: lightslategray;
  height: 5vh;
}
