body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#wrapper {
  display: grid;
  grid-template-areas:
    "header header heaeder"
    "nav content content"
    "footer footer footer";
}

header {
  grid-area: "header";
  display: flex;
}
