* {
  padding: 0;
  margin: 0;
  --yellow: #f1c40f;
}

html {
  max-width: 100vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #e6e3cf;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "header header" "nav content" "footer footer";
}

header {
  grid-area: header;
  height: 15vh;
  width: 100vw;
  display: flex;
  background-color: #e6e3cf;
}

h1 {
  text-align: center;
  font-weight: normal;
  color: var(--yellow);
  font-size: 8em;
  white-space: nowrap;
  font-size: 5vw;
  font-family: 'Bangers', cursive;
  text-shadow: 3px 3px black;
}

nav {
  grid-area: nav;
  height: 80vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  border-top-right-radius: 18px;
  border-collapse: separate;
}

.navBtn {
  background-color: #e6e3cf;
  width: 12vw;
  padding: 4px 10px;
}

.navBtn {
  background-color: #e6e3cf;
  height: 8vh;
  width: 15vw;
  padding: 4px 10px;
  border-radius: 5px;
}

.navBtn:hover {
  cursor: pointer;
}

.navBtn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50%;
  background-color: darken(#f1c40f, 20%);
  opacity: 0.4;
  bottom: -30px;
}


#content {
  grid-area: content;
  height: 80vh;
  width: 80vw;
  display: grid;
  background-color: #e6e3cf;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "game description";
}

#game {
  grid-area: game;
  height: 80vh;
  width: 60vw;
  background-color: #e6e3cf;
  border: 3px solid black;
  border-top-left-radius:18px;
  border-top-right-radius:18px;
}

#description {
  grid-area: description;
  height: 80vh;
  width: 20vw;
  background-color: var(--yellow);
  border-top-left-radius: 18px;
}

#stats {
  display: none;
}

footer {
  grid-area: footer;
  background-color: lightslategray;
  height: 5vh;
}

.modal {
  display: none; /*hidden by default*/
  position: fixed;
}

#mode {
  height: 50px;
  width: 50px;
  background-color: var(--yellow);
}

#finish {
  display: block;
}

@media (max-width: 750px) {
 #wrapper {
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "header" "nav" "content" "footer";
 }

 header {
  grid-area: header;
  height: 5vh;
  width: 100vw;
 }

 nav {
  grid-area: nav;
  height: 10vh;
  width: 100vw;
  flex-direction: row;
 }

 #content {
  grid-area: content;
  height: 70vh;
  width: 100vw;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "game" "description";
 }

 #game {
  height: 70;
  width: 100;
 }

 #description {
  display: none;
 }

}