* {
  padding: 0;
  margin: 0;
  --yellow: #f1c40f;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--yellow);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #e6e3cf;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "header header" "nav content" "footer footer";
}

header {
  grid-area: header;
  height: 15vh;
  width: 100vw;
  display: flex;
  background-color: #e6e3cf;
}

nav {
  grid-area: nav;
  height: 80vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  border-top-right-radius: 18px;
  border-collapse: separate;
}

.navBtn {
  background-color: #e6e3cf;
  width: 12vw;
  padding: 4px 10px;
}

nav ul li {
  margin-top: 30px;
  text-align: start;
}

#content {
  grid-area: content;
  height: 80vh;
  width: 80vw;
  display: grid;
  background-color: #e6e3cf;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "game description";
}

#game {
  grid-area: game;
  height: 80vh;
  width: 60vw;
  background-color: #e6e3cf;
}

#description {
  grid-area: description;
  height: 80vh;
  width: 20vw;
  background-color: var(--yellow);
  border-top-left-radius: 18px;
}

footer {
  grid-area: footer;
  background-color: lightslategray;
  height: 5vh;
}

#mode {
  display: block;
}

#finish {
  display: block;
}

@media (max-width: 750px) {
 #wrapper {
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "header" "nav" "content" "footer";
 }

 header {
  grid-area: header;
  height: 5vh;
  width: 100vw;
 }

 nav {
  grid-area: nav;
  height: 10vh;
  width: 100vw;
  flex-direction: row;
 }

 #content {
  grid-area: content;
  height: 70vh;
  width: 100vw;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "game" "description";
 }

 #game {
  height: 70;
  width: 100;
 }

 #description {
  display: none;
 }


}
